/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 февр. 2020 г., 21:05:48
    Author     : alexs
*/

h1 {
    color: green;
}
img{
    width: 500px;
    height: 500px;
}